h2{
    text-align: center;
    
}

#box{
    background-color: gray;
    color: white;
    width: 33.3333%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    padding: 40px;
}